<template>
  <div
    class="wrapper__title"
    :class="{ show: !isSelectedMainContent }"
    @click="handleToggleShowMainContent(false)"
  >
    Подключение
  </div>

  <div v-show="!isSelectedMainContent" class="wrapper__main-content">
    <ui-variant
      v-for="(varint, index) in connection"
      :key="'v-' + index"
      :card="varint"
      :update-data="updateConnection"
    >
      <ui-button
        :class="{ active: index === isSelectedConnection }"
        @click="handleUpdateConnectionPrice(varint, index)"
        >{{ textOnButton(index, isSelectedConnection) }}
      </ui-button>
    </ui-variant>
  </div>

  <div
    class="wrapper__title"
    :class="{ show: isSelectedMainContent }"
    @click="handleToggleShowMainContent(true)"
  >
    Роутер
  </div>
  <div v-show="isSelectedMainContent" class="wrapper__main-content">
    <ui-variant
      v-for="(varint, index) in routes"
      :key="'v' + index"
      :card="varint"
      :update-data="updateRoutes"
    >
      <ui-button
        :class="{ active: index === isSelectedRote }"
        @click="handleUpdateRouterPrice(varint, index)"
        >{{ textOnButton(index, isSelectedRote) }}</ui-button
      >
    </ui-variant>
  </div>

  <footer class="footer">
    <a href="#" class="pay" @click.prevent="handlePay"
      ><p>Итого к оплате</p>
      <div style="font-weight: normal">{{ total }} &#8381;</div>
    </a>
  </footer>
</template>

<script setup lang="ts">
  import '../assets/style.css'
  import UiVariant from '../components/UiVariant.vue'
  import UiButton from '../components/UiButton.vue'
  import { variantsByFactory } from '../Services/variant/Variant.factory'
  import { IVariant } from '../Services/variant/Variant.model'
  import json from '../assets/data.json'
  import { priceStore } from '../store/store'
  import { computed, onMounted, ref } from 'vue'
  const store = priceStore()

  const isSelectedConnection = ref(-1)
  const isSelectedRote = ref(-1)
  const isSelectedMainContent = ref(false)

  const connection = computed((): IVariant[] => store.getConnection)
  const routes = computed((): IVariant[] => store.getRoutes)
  const total = computed((): number => store.getTotalPrice)

  onMounted(() => {
    const routes = json[1].variants as IVariant[]
    const connection = json[0].variants as IVariant[]
    store.setRoutes(variantsByFactory(routes))
    store.setConnection(variantsByFactory(connection))
  })

  const textOnButton = (index: number, isSelected: number): string => {
    return index === isSelected ? 'Выбрано' : 'Выбрать'
  }

  const handleToggleShowMainContent = (value: boolean) => {
    isSelectedMainContent.value = value
  }

  const updateConnection = (newConnection: IVariant): void => {
    const connectionList = connection.value.map((i) =>
      i.title === newConnection.title ? newConnection : i
    )

    store.setConnection(connectionList)
  }

  const updateRoutes = (newRoute: IVariant): void => {
    const routeList = routes.value.map((i) =>
      i.title === newRoute.title ? newRoute : i
    )

    store.setRoutes(routeList)
  }

  const handleUpdateRouterPrice = (data: IVariant, index: number): void => {
    isSelectedRote.value = index
    store.setRouterPrice(data.price_default)
  }

  const handleUpdateConnectionPrice = (data: IVariant, index: number): void => {
    handleToggleShowMainContent(true)
    isSelectedConnection.value = index
    store.setConnectionPrice(data.price_default)
  }

  const handlePay = (): void => {
    alert(total.value)
  }
</script>
