<template>
  <label :for="id" class="ui-checkbox">
    <input :id="id" v-model="checked" type="checkbox" :value="props.value" />
    {{ props.title }}
    <span />
  </label>
</template>

<script setup lang="ts">
  import { ref, watch } from 'vue'
  interface Props {
    value: number
    title?: string
    change: (value: number) => void
  }

  const id = String(Math.random())
  const props = defineProps<Props>()
  const checked = ref([])

  watch(checked, (): void => {
    let value = 0
    value = checked.value.length > 0 ? props.value : -props.value

    props.change(value)
  })
</script>
