<template>
  <select v-model="selected" class="ui-select">
    <option
      v-for="(cost, i) in props.valueList"
      :key="'ds-' + i"
      :value="cost.price"
      :label="cost.title"
    />
  </select>
</template>

<script setup lang="ts">
  import { ref, watch } from 'vue'
  import { Ioption } from '../Services/variant/Variant.model'
  interface Props {
    value: number
    valueList: Ioption[]
  }

  const emit = defineEmits<{
    (e: 'input', value: number): void
  }>()

  const props = defineProps<Props>()
  const selected = ref(props.value)

  watch(selected, () => {
    emit('input', selected.value)
  })
</script>
