<template>
  <div
    class="variants-wrapper"
    :style="{ borderLeft: `10px solid ${props.card.color}` }"
  >
    <div class="variants__title">
      {{ props.card.title }}
    </div>
    <p class="variants-wrapper__disription" v-html="props.card.description" />

    <div class="variants__separator" />

    <div class="price__wrapper">
      <p class="price__cost">{{ props.card.price_default }} &#8381;</p>
      <template v-if="props.card.options.length > 0">
        <div v-for="(cost, i) in props.card.options" :key="'c-' + i">
          <ui-checkbox
            :value="cost.price"
            :title="cost.title"
            :change="handleChengeConnectionPrice"
          />
        </div>
      </template>

      <template v-if="props.card.select">
        <div v-for="(item, i) in props.card.select" :key="'s-' + i">
          <p class="price__select-title">{{ item.title }}</p>
          <ui-select
            :value="props.card.price_default"
            :value-list="item.items"
            @input="handleSelect"
          />
        </div>
      </template>

      <slot></slot>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { IVariant } from '../Services/variant/Variant.model'
  import UiCheckbox from './UiCheckbox.vue'
  import UiSelect from './UiSelect.vue'
  interface Props {
    card: IVariant
    updateData: (newValue: IVariant) => void
  }

  const props = defineProps<Props>()

  const handleSelect = (cost: number): void => {
    props.updateData({
      ...props.card,
      price_default: cost,
    })
  }

  const handleChengeConnectionPrice = (cost: number): void => {
    props.updateData({
      ...props.card,
      price_default: props.card.price_default + cost,
    })
  }
</script>
