* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.active {
  background: rgb(47, 203, 90) !important;
}

.variants__title {
  text-align: left;
  margin-bottom: 10px;
  font-size: 20px;
  color: #393939;
  font-weight: bold;
  cursor: pointer;
}

.wrapper__title {
  text-align: left;
  margin-bottom: 10px;
  font-size: 20px;
  border-top: 2px solid silver;
  padding-top: 10px;
  color: #c9c3c1;
  font-weight: bold;
  cursor: pointer;
}

.variants-wrapper {
  width: 800px;
  height: 200px;
  background-color: #f8f8f8;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: left;
  padding: 10px;
  position: relative;
  margin-bottom: 20px;
}

.variants-wrapper__disription-tittle {
  margin-bottom: 20px;
}

.price__cost {
  text-align-last: right;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 20px;
}

.variants-wrapper__disription {
  max-width: 72%;
  color: #7b8992;
}

.ui-checkbox {
  height: 35px;
  display: block;
  border-radius: 3px;
  border: 2px solid silver;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: rgb(123, 137, 146);
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}

.ui-checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.ui-checkbox span {
  display: block;
  border: 2px solid silver;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 8px;
  border-radius: 2px;
}

.ui-button {
  background: #98abba;
  width: 201px;
  height: 40px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
}

.ui-select {
  width: 100%;
  height: 40px;
  background: white;
  color: rgb(123, 137, 146);
  padding: 5px;
  border: 2px solid silver;
  border-radius: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
}

.price__select-title {
  font-size: 12px;
  color: rgb(123, 137, 146);
  font-weight: bold;
}

.ui-checkbox input:checked + span::after,
.ui-checkbox input:checked + span::before {
  content: '';
  background: rgb(131, 131, 131);
  position: absolute;
  top: -1px;
  left: 2px;
}

.ui-checkbox input:checked + span::before {
  height: 70%;
  width: 3px;
  transform: rotate(125deg) translate(3px, -4px);
}

.ui-checkbox input:checked + span::after {
  height: 100%;
  width: 3px;
  transform: rotate(36deg) translate(5px, -4px);
}

.variants__separator {
  height: 60%;
  width: 2px;
  transform: translate(0, -50%);
  background: #eaeaea;
  position: absolute;
  top: 50%;
  left: 72%;
}

.price__wrapper {
  width: 28%;
  position: absolute;
  top: 0%;
  height: 100%;
  right: 0;
  padding: 10px;
}

.show {
  color: #3c3450;
}

.footer {
  width: 800px;
  border-radius: 5px;
  overflow: hidden;
  height: 60px;
  font-size: 25px;
  font-weight: bold;
}

.pay {
  background: rgb(47, 203, 90);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
  outline: none;
  padding: 10px;
  text-decoration: none;
  height: 100%;
}
